.section {
    height: 100%;
    
}

#text {
    padding: 10px 18px;
    border-radius: 5px;
}

#submit { 
    padding: 10px 18px;
    background-color: #FF6600;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}